@import url(./cssbuttons.scss);
@import url(./coder.scss);
@import url(./line-numbers.scss);

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body,
html,
*,
*::before,
*::after,
:host,
:root {
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

img, svg {
    max-width: 100%;
    max-height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    height: 100dvh;
    width: 100dvw;
    display: flex;
}

.font-title {
    font-family: 'Josefin Sans', sans-serif;
}

.lucide {
    width: 16px;
    height: 16px;
}

@layer utilities {
    .all-center {
        @apply justify-center items-center;
    }

    .cs-b-round {
        @apply w-10 h-10 rounded-full hover:bg-[#0001] dark:hover:bg-[#fff1] focus-within:bg-[#0001] dark:focus-within:bg-[#fff1] text-xl transition-all inline-flex all-center;
    }

    .cs-b-round-true {
        @apply bg-[#0001];
    }
}


* {
    scrollbar-width: thin;
    scrollbar-color: #397524 #FFFFFF;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #72788877;
}
*::-webkit-scrollbar-corner {
    background-color: transparent;
}



.flex-parent {
    &:has(>.flex-child) {
        display: flex;
    }

    &:has(>.flex-child-col) {
        flex-direction: column;
    }
}



